// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  .winner {
    position: absolute;
    right: 50px;
    top: 10px;
    color: #999;
    &.highlight {
      color: #D00;
      font-weight: bold;
    }
  }
}